{% extends "index.html" %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/logout.css' %}">

{% load allauth i18n %}
{% block head_title %}
    {% trans "Sign Out" %}
{% endblock head_title %}
{% block content %}
    <div class="logout-container">
        <h1 class="logout-title">
            {% trans "Sign Out" %}
        </h1>
        <p class="logout-message">
            {% trans 'Вы уверены, что хотите выйти?' %}
        </p>
        {% url 'account_logout' as action_url %}
        <div class="choice">
             <a class="go-back" href="/">Остаться</a>
            <form method="post" action="{{ action_url }}" class="logout-form">
                {% csrf_token %}
                {{ redirect_field }}
                <button type="submit" class="logout-button">
                    {% trans 'Выйти' %}
                </button>
            </form>
        </div>

    </div>
{% endblock content %}
