{% extends "account/profile/profile.html" %}
{% block extra_css %}
    {% load static %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'css/profile/edit_profile.css' %}">
{% endblock %}
{% block profile_section %}
<div class="profile-container">
    <form method="post" class="profile-form">
        {% csrf_token %}
        <div class="form-sections">
             <div class="user-info">
            <h2>Данные пользователя</h2>
            <label for="username">Имя пользователя</label>
            <input type="text" id="username" name="username" value="{{ user.username }}" required>

            <label for="email">Email</label>
            <input type="email" id="email" name="email" value="{{ user.email }}" readonly>
            </div>
            <div class="password-info">
                <h2>Изменение пароля</h2>
                <label for="new_password">Новый пароль</label>
                <input type="password" id="new_password" name="new_password">

                <label for="confirm_password">Подтверждение пароля</label>
                <input type="password" id="confirm_password" name="confirm_password">
            </div>
        </div>
        <div class="button-container">
            <button type="submit" class="save-button">Сохранить изменения</button>
        </div>
    </form>
</div>
{% endblock profile_section %}
