<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GameShop</title>
    <meta name="csrf-token" content="{{ csrf_token }}">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    {% block extra_css %}{% endblock %}
</head>
<body>
    <header class="header">
        <div class="container">
            <h1 class="logo">GameShop</h1>
            <nav class="nav">
                <a href="{% url 'main' %}" class="nav-link">Главная</a>
                <a href="{% url 'catalog' %}" class="nav-link">Каталог игр</a>
                <a href="{% url 'cart' %}" class="nav-link">Корзина</a>
                <a href="{% url 'contacts' %}" class="nav-link">Контакты</a>
                <a href="{% url 'about' %}" class="nav-link">О нас</a>
            </nav>
            {% if user.is_authenticated %}
               <div class="user-menu-container">
                    <a id="user-menu-toggle" class="username" onclick="toggleMenu()">{{ user.username }}</a>
                    <div id="user-menu" class="dropdown-menu">
                      <ul>
                        <li><a href="{% url 'profile' %}">Профиль</a></li>
                        <li><a href="{% url 'account_logout' %}">Выйти</a></li>
                      </ul>
                    </div>
               </div>
            {% else %}
                <a href="{% url 'login' %}" class="login-btn">Войти</a>
            {% endif %}

        </div>
    </header>

    <main class="main" id="main-content">
        {% block content %}{% endblock %}
        {% load account %}
    </main>

    <footer class="footer">
        <div class="container-footer">
            <p>&copy; 2024 GameShop. Все права защищены.</p>
        </div>
    </footer>
    <script src="{% static 'js/toggle.js' %}"></script>
    <script src="{% static 'js/cart.js' %}"></script>

</body>
</html>
